In [1]:
import pandas as pd

df_temp = pd.DataFrame({
    "city":["new york", "chicago", "orlendo"],
    "temperature": [21,14,35]
})

df_temp

       city  temperature
0  new york           21
1   chicago           14
2   orlendo           35

In [10]:
df_humidity = pd.DataFrame({
    "city":["chicago", "new york", "san-francesco"],
    "humidity": [65, 68, 75]
})

df_humidity

            city  humidity
0        chicago        65
1       new york        68
2  san-francesco        75

In [11]:
df_merge_inner = pd.merge(df_temp, df_humidity, on="city")
df_merge_inner

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [16]:
df_merge_outer = pd.merge(df_temp, df_humidity, on="city", how="outer", indicator=True)
df_merge_outer

            city  temperature  humidity      _merge
0       new york         21.0      68.0        both
1        chicago         14.0      65.0        both
2        orlendo         35.0       NaN   left_only
3  san-francesco          NaN      75.0  right_only

In [13]:
df_merge_left = pd.merge(df_temp, df_humidity, on="city", how="left")
df_merge_left

       city  temperature  humidity
0  new york           21      68.0
1   chicago           14      65.0
2   orlendo           35       NaN

In [15]:
df_merge_right = pd.merge(df_temp, df_humidity, on="city", how="right")
df_merge_right

            city  temperature  humidity
0       new york         21.0        68
1        chicago         14.0        65
2  san-francesco          NaN        75

In [18]:
df1 = pd.DataFrame({
    "city" :["Delhi", "Mumbai"],
    "humidity": [32, 44],
    "temperature": [45, 67]
})

df2 = pd.DataFrame({
    "city": ["Mumbai", "Delhi"],
    "humidity": [40, 45],
    "temperature": [55, 57]
})

df_m = pd.merge(df1, df2, on="city")
df_m

     city  humidity_x  temperature_x  humidity_y  temperature_y
0   Delhi          32             45          45             57
1  Mumbai          44             67          40             55

In [19]:
df1 = pd.DataFrame({
    "city" :["Delhi", "Mumbai"],
    "humidity": [32, 44],
    "temperature": [45, 67]
})

df2 = pd.DataFrame({
    "city": ["Mumbai", "Delhi"],
    "humidity": [40, 45],
    "temperature": [55, 57]
})

df_m = pd.merge(df1, df2, on="city", suffixes=('_left', '_right'))
df_m

     city  humidity_left  temperature_left  humidity_right  temperature_right
0   Delhi             32                45              45                 57
1  Mumbai             44                67              40                 55